html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
	margin: 0
	padding: 0
	border: 0 none
	font-size: 100%
	font: inherit
	vertical-align: top

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
	display: block

html,
body
	outline: 0
	line-height: 1.2

body
	-webkit-text-size-adjust: none
	-ms-text-size-adjust: none

table, td
	border-collapse: collapse
	border-spacing: 0

img
	display: block
	+size(100%,auto)

a
	color: $link-color
	text-decoration: underline

	@media(min-width: $scr-all)
		&:hover
			color: $link-color-hover !important
			text-decoration: none !important

a:link
	cursor: pointer
	color: $link-color
	text-decoration: none

a:visited
	color: #3c96e2
	text-decoration: none

a:focus
	color: #3c96e2
	text-decoration: underline

a:hover
	color: #3c96e2
	text-decoration: underline

a img
	border: 0 none


