meta(http-equiv="X-UA-Compatible",content="IE=edge")
meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
//- meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=1")
link(href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&amp;subset=cyrillic-ext", rel="stylesheet")
