include ../json/json
include ../mixins/mixins
block variables
	include ../variables/default
doctype strict
html(xmlns="http://www.w3.org/1999/xhtml")
	head
		block metas
			include ../common/metas
		style
			block style
				include ../../../temp/css/layout.css
		title= title

	body.body
		table.layout-wrap(width='100%', height="100%", cellpadding='0', cellspacing='0', border='0')
			tr
				td.layout-wrap__td(width='100%', align='center', valign='top')
					| !{'<!--[if mso]><center><table><tr><td width="600"><![endif]-->'}
					table.layout(width='600', cellpadding='0', cellspacing='0', border='0', bgcolor="#ffffff")
						block layout
					| !{'<!--[if mso]></td></tr></table></center><![endif]-->'}
