@import "common"
@import "common/reset"

.body
	min-width: $scr-lg
	width: 100%
	min-width: 100% !important
	text-align: left
	font-weight: normal
	font-size: 14px
	line-height: 1.2
	font-family: $ff
	color: $text-color
	word-wrap: break-word
	background-color: $body-bg

.layout-wrap
	background-color: $body-bg

.layout
	max-width: $scr-lg
	width: 100%
	min-width: $scr-xs
	background-color: $layout-bg

